@charset "utf-8";
body {
	margin:0;
	background: url(../images/login_bg.jpg) no-repeat fixed center;
	background-size:100%;
}
.banner {
	width: 50%;
	margin:0 auto;
}
.window {
	height: auto;
	width: 30%;
	background-color: #FFF;
	margin-top: 10%;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.window .login .user {
	text-align: center;
	padding-right: 10px;
}
.qq{
	float: left;
	margin-left: 5%;
}
.wechat{
	float: right;
	margin-right: 5%;
}
.a0 {
	text-decoration: none;
}
.window .login h2 {
	margin-left: 10px;
}
.demo1 {
	-webkit-box-shadow: 3px 3px 3px #000;
	-moz-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;
}
.a1 {
	color: #F00;
	float: right;
	text-decoration: none;
	clear: both;
	font-size: 14px;
}
.a2 {
	color: #C90;
	float: right;
	text-decoration: none;
	clear: both;
	font-size: 15px;
}
.window.demo1 .login form p {
	line-height: auto;
}
.a:hover {
	text-decoration: underline;
}
